.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.splitScreen {
  display: flex;
  width: 100%;
  height: 100vh;
}

.split {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.cvSection {
  background-color: #8c8e92df; /* Blue for the CV section */
}

.portfolioSection {
  background-color: #6FA5F6; /* Orange/red for the Portfolio section */
}

/* Zoom effect on hover */
.split:hover {
  transform: scale(1.15);
}
.title {
  font-family: 'Major Mono Display', monospace;
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .splitScreen {
    flex-direction: column; /* Stack sections vertically on small screens */
    height: auto;
  }

  .split {
    height: 50vh; /* Each section takes half the height */
  }

  .title {
    font-size: 2rem; /* Reduce font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.5rem; /* Further reduce font size for very small screens */
  }
}